GloablServices/keshavglobal/force-app/main/default/flows/DisplayRelatedAccounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Text</name>
        <label>Add to Text</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>AllRecordsData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleRecorddetail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinanceData</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CustomerID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroupNameVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GroupNameDetail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DateInfo</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CreatedData</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountRecordLoop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_FinanceID</name>
        <label>Check the FinanceID</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>NoScreenDisplay</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckFinanceID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FetchAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentRecordWithFinanceID.FinanceCustID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountRecordLoop</targetReference>
            </connector>
            <label>CheckFinanceID</label>
        </rules>
    </decisions>
    <interviewLabel>DisplayRelatedAccounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DisplayRelatedAccounts</label>
    <loops>
        <name>AccountRecordLoop</name>
        <label>AccountRecordLoop</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>FetchAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Related_Accounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>FetchAccounts</name>
        <label>FetchAccounts</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_the_FinanceID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinanceCustID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentRecordWithFinanceID.FinanceCustID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CurrentRecordWithFinanceID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NoScreenDisplay</name>
        <label>NoScreenDisplay</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoRecords</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;There are no Related Accounts to Display !!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Related_Accounts</name>
        <label>Related Accounts</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Related_Accounts_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_Accounts_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinanceID</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Finance ID&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_Accounts_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Group</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Group&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_Accounts_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerName</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Customer Name&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_Accounts_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CreatedDate</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;CreatedDate&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Related_Accounts_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Related_Accounts_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinanceIID</name>
                    <fieldText>&lt;p&gt;{!FinanceData}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_Accounts_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GroupName</name>
                    <fieldText>&lt;p&gt;{!GroupNameVar}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_Accounts_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountDetails</name>
                    <fieldText>&lt;p&gt;{!AllRecordsData}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Related_Accounts_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <fieldText>&lt;p&gt;{!DateInfo}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FetchAccounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CreatedData</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;u&gt;{!AccountRecordLoop.CreatedDate} &lt;/u&gt; &lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/u&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CustomerID</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;u&gt;{!AccountRecordLoop.FinanceCustID__c} &lt;/u&gt; &lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/u&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>GroupNameDetail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;/{!AccountRecordLoop.ParentId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;u&gt;{!AccountRecordLoop.Parent.Name}&lt;/u&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/u&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SingleRecorddetail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;a href=&quot;{!AccountRecordLoop.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;&lt;u&gt;{!AccountRecordLoop.Name} &lt;/u&gt;&lt;/a&gt; &lt;/p&gt;&lt;p&gt;&lt;u style=&quot;font-size: 14px;&quot;&gt;﻿&lt;/u&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AllRecordsData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentRecordWithFinanceID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>DateInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinanceData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
