GloablServices/keshavglobal/force-app/main/default/flows/update_provider_contact_from_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>update_the_provider_details</name>
        <label>update the provider details</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>get_Provider_details.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Provider_details.Fax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider_Fax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Provider_details.HomePhone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Provider_details.Provider_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Provider_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Provider_details.Department_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department_Contact_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Provider_details.Department_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Department_Contact_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_provider_contact</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>update provider contact from case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>update provider contact from case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Provider_details</name>
        <label>get Provider details</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_the_provider_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Related_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_provider_contact</name>
        <label>update provider contact</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>get_Provider_details</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Provider_details</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Provider_Contact__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Provider_Fax__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Provider_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Provider_Phone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Department_Contact_Name__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Department_Contact_Phone__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
