GloablServices/keshavglobal/force-app/main/default/flows/Update_Provider_Contact_on_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Update Provider Contact on Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Provider Contact on Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Related_Provider_Contact</name>
        <label>get Related Provider Contact</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_Provider_Contact_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Intake_Request_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Provider</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Related_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_Provider_Contact_Id</name>
        <label>Update Task Provider Contact Id</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Provider_Contact__c</field>
            <value>
                <elementReference>get_Related_Provider_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Related_Provider_Contact</targetReference>
        </connector>
        <filterFormula>OR(IF({!$Record.RecordType.Name}=&apos;Service Request Followup&apos;,true, false),IF({!$Record.RecordType.Name}=&apos;Service Request Review&apos;,true, false))</filterFormula>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
